button {
	text-align: center;
	text-shadow: none;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	cursor: pointer;
	align-items: flex-start;
	box-sizing: border-box;
}

div {
	display: block;
}

div #root {
	position: relative;
	margin: 0 auto;
}

div #head {
	position: fixed;
	height: 50px;
	font-size: 100%;
	background-color: black;
	cursor: default;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}

div #editor {
	position: absolute;
	float: left;
	left: 0px;
	top: 50px;
	height: 100%;
	width: 40%;
	padding-left: 0px;
	background-color: #00ffff;
	overflow: auto;
	z-index: 20
}

div #result {
	position: absolute;
	float: left;
	right: 0px;
	top:50px;
	height: 100%;
	width: 60%;
	background-color: #e0ffff;
	z-index: 19
}

/*topBar*/

.TopText {
	float: left;
	padding-top: 9px;
}

.TinyBlock {
	float: left;
	border-left: 1px solid #fff;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: rgb(255,255,255);
	height: 100%;
	opacity: 0.8;
}

.MainLink {
	transition-property: width,height,background,margin,border,padding;
	transition-duration: .25s;
	background-color: rgb(106,76,156);
	position: relative;
	padding: 0px 20px;
		padding-top: 0px;
		padding-right: 20px;
		padding-bottom: 0px;
		padding-left: 20px;
	height: 50px;
	float: left;
	color: #fff;
	text-decoration: none;
	font-size: 180%;
	margin-left: 0px;
	cursor: pointer;
}

.ShareMenu {
	transition-property: width,height,background,margin,border,padding;
	transition-duration: .25s;
	background-color: rgb(106,76,156);
	color: #fff;
	float: left;																			
	padding-left: 8px;
	padding-right: 8px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.ActiveTinyLink: {

}

.HeadButton {
	transition-property: width,height,background,margin,border,padding;
	transition-duration: .25s;
	font-size: 100%;
	color: #fff;
	margin: 0px;
	margin-left: 1;
	outline: none;
	background: none;
	border: none;
	height: 100%;
	padding: 0px 14px;
	align-items: flex-start;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.HeadButtonText{
	position: relative;
	display: inline-block;
	outline: none;
	font-size: 100%;
	color: #fff;
}

/*editorPart*/

div #editorBoard {
	position: relative;
	float: left;
	left: 0px;
	width: 85%;
	height: 100%;
	background-color: #00aabb;
	overflow: auto;
	z-index: 45;
}

div	#editorBar {
	position: relative;
	float: left;
	left: 0px;
	width: 15%;
	height: 100%;
	overflow: hidden;
	z-index: 44;
}

div #SegmentHolder {
	position: relative;
	float: block;
	left: 0px;
	right: 0px;
	margin-top: 5%;
	margin-bottom: 20%;
	overflow: auto;
}

.Segment {
	position: relative;
	padding: 2% 4%;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
	outline: none;
	font-size: 180%;
	background-color: #fff;
	box-shadow: 4px 4px 15px 1px #444;
	z-index: 50;
	height: auto!important;
	min-height: 80px;
}

.SegmentElement {
	position: relative;
	float: block;
	width: 100%;
	left: 0;
}

.SegmentTitle {
	height: 20%;
	background-color: #eee;
	z-index: 57;
}

.SegmentContent {
	position: relative;
	margin-top: 2%;
	height: 100%;
	background-color: none;
	z-index: 55;
	overflow: hidden;
}

.Pic {
	position: absolute;
	float: left;
	height: 100%;
	width: 24%;
	left: 0px;
	cursor: pointer;
	background-color: #eee;
	z-index: 56;
}

.TextContent {
	position: relative;
	float: left;
	margin-left: 26%;
	height: auto;
	width: 74%;
	background-color: #eee;
	text-align: left;
	line-height: 100%;
	z-index: 56;

	box-shadow: none;

}

.TextInput {
	position: relative;
	overflow: none;
	padding: 2%;
	height: auto!important;
	min-height: 50px;
	width: 90%;
	padding-right: 5%;
	white-space: pre-wrap;
	word-wrap: break-word;
	cursor: auto;

	z-index: 59;
}

.SegmentAppend {
	margin-top: 2%;
	height: 10%;
	background-color: #eee;
	font-size: 80%;
	z-index: 60;
}

/*middleBar*/

.BarButton {
	position: relative; 
	float: block;
	left: 0px;
	width: 100%;
	height: 160px;
	cursor: pointer;
	z-index: 40;
}

#appendNew {
	background-color: #007ea0;
}

#toTop {
	background-color: #79CDCD;
}

#show {
	background-color: #444444;
	opacity: 0.2;
}

#hide {
	background-color: #444444;
}

/*footBar*/
#footer {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: black;
	text-align: left;
	z-index: 10000;
}

/*scrollbar*/
::-webkit-scrollbar {
		  width: 15px;
} /*default*/

::-webkit-scrollbar-track {
		  background-color: #00eedd;
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
	  background-color: rgba(0, 0, 0, 0.2); 
} /* 滑块颜色 */

::-webkit-scrollbar-button {
	  background-color: #00eecc;
} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
	  background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

