
#result {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 50px;
    right: 0;
    z-index: 3;
    overflow: hidden;

}

#resultBoard {
    overflow: auto ;
    z-index: 4;
    height: 100%;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.MintShow {
    transition: 0.5s;
}

.MintShow p {
    word-wrap: break-word;
    word-break:break-all;
}

.MintHeadline h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.MintArticle .jumbotron{
    margin-top: 30px;
}

.MintArticle pre {
    border: none;
    font-size: 1.5em;
    background: transparent;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; !important;
}

.MintArticle p {
    word-wrap: break-word;
    word-break:break-all;
}

.MintParagraph p {
    text-align: center !important;
    font-size: 2.5em !important;
    word-wrap: break-word;
    word-break:break-all;
}

.SingleHolder {
    padding-left: 15%;
    padding-right: 15%;
    align-content: center;
    text-align: center;
}

.MintSingle p {
    font-size: 2.5em!important;
    word-wrap: break-word;
    word-break:break-all;
}

.MintCircle {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}

.MintCircles {
    margin-top: 30px;
    margin-bottom: 30px;
}

.MintMarkHtml {
    margin: 40px;
}

.MintFrame {
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 56.25%;
}


.MintFrame iframe {
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;

}

.wrapper {
    height: auto;
}

.jumbotron {
    background-color: transparent!important;
}

.GalleryPic img{
    display: block;
}
