<h2>About TinyMint</h2>
<p id="aboutContent">
    TinyMint is an online webpage builder.
    Using the provided templates and graphical Interfaces, users can easily design a webpage with custom pictures, articles and multimedias.
    It's inspired by MS Sway and the initial UI of TinyMint is similar to Sway, yet in later versions TinyMint would be equiped with more auxiliary functions and tools to bring a brilliant experience to users.
</p>
<br>
<br>
<h2>Github Link : </h2>
<h3>
    <a href="https://github.com/Tinysymphony/TinyMint">Tinysymphony/TinyMint</a>
</h3>