<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="wytiny">
    <title><%= title %></title>
    <style type="text/css">
    </style>
    <link rel="shortcut icon" href="/images/ico/mint.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard/dash.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/mint/mint.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/mint/title.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/inputB.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard/demo.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard/component.css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/dash.js"></script>
</head>
<body>
<div class="WebContainer">
    <div id="titleLine">
        <div id="head">
            <a class="link link--yaku title" href="#">
                <span>T</span><span>i</span><span>n</span><span>y</span><span>M</span><span>i</span><span>n</span><span>t</span>
            </a>
        </div>
    </div>
    <div id="mainBoard">
        <div id="userMenu">
            <img id="userPic" class="img-circle" src="http://avos-bucket.catchkaka.com/1774699440894782headimg552628kq.jpeg@100w_100h.jpg" alt="TinyPic"  />
            <div id="userName">WyTiny</div>
            <div id="userTinyBar"></div>
            <div id="menuList">
                <div class="ListItem SelectedItem" id="mints">Mints</div>
                <div class="ListItem" id="accountInfo">Account Info</div>
                <div class="ListItem" id="logout">Logout</div>
            </div>
        </div>
        <div id="userMintBoard" class="Board">
            <div class="userTitle jumbotron">
                <div class="container">
                    <h1 class="DBTitle">Your Mints</h1>
                    <p>Mint : That's what we'd like to call a work designed through TinyMint as.</p>
                </div>
            </div>
            <div class="row tinyrow">
                <div class="BoardMessage col-lg-12">
                    <h1>Three templates are provided for you, have fun.</h1>
                </div>
                <section class="grid">
                    <div class="product">
                        <div class="product__info">
                            <img class="product__image" src="/images/mints-pic/camera.png" alt="TinyMint" />
                            <h3 class="product__title">Photography</h3>
                            <button class="action action--button action--buy"><span class="action__text">Edit</span></button>
                            <button class="action action--button action--buy"><span class="action__text">Download</span></button>
                            <button class="action action--button action--buy"><span class="action__text">Share</span></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__info">
                            <img class="product__image" src="/images/mints-pic/news.png" alt="TinyMint" />
                            <h3 class="product__title">Blogs</h3>
                            <button class="action action--button action--buy"><span class="action__text">Edit</span></button>
                            <button class="action action--button action--buy"><span class="action__text">Download</span></button>
                            <button class="action action--button action--buy"><span class="action__text">Share</span></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__info">
                            <img class="product__image" src="/images/mints-pic/air.png" alt="TinyMint" />
                            <h3 class="product__title">Freedom</h3>
                            <button class="action action--button action--buy"><span class="action__text">Edit</span></button>
                            <button class="action action--button action--buy"><span class="action__text">Download</span></button>
                            <button class="action action--button action--buy"><span class="action__text">Share</span></button>
                        </div>
                    </div>
                </section>
            </div>
            <hr class="featurette-divider" />
            <div class="row tinyrow">
                <div class="BoardMessage col-lg-12">
                    <h1>Start Design</h1>
                </div>
                <section class="grid">
                    <div class="product DesignWork" id="AddButton">
                        <img id="AddIcon" class="product__image" src="/images/mints-pic/plus.png" alt="Plus" />
                    </div>
                </section>
            </div>
        </div>
        <div id="userInfoBoard" class="Board">
            <div class="userTitle jumbotron">
                <div class="container">
                    <h1 class="DBTitle">Account Info</h1>
                    <p>Tell me more about you and your privacy is being protected by TintMint :) </p>
                </div>
            </div>
            <div id="InputPartA" class="row tinyrow">
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="text" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Nickname">Nickname</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="text" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Mobile Phone">Mobile Phone</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="text" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Email">Email</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="text" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Blog">Blog</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="text" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Gender">Gender</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem  col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="text" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Age">Age</span>
                        </label>
				    </span>
                </div>
            </div>
            <hr class="featurette-divider" />
            <div class="row tinyrow">
                <div class="InputItem  col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="text" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Interest Tags">Interest Tags</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem  col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="submit" id="submitInfo" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" ></span>
                        </label>
				    </span>
                </div>
            </div>
            <hr class="featurette-divider" />
            <div class="userTitle jumbotron">
                <div class="container">
                    <h2 class="DBTitle">Security & Authentication</h2>
                    <p>Change your password | Add relation with accounts on other platforms | Bond info with identification </p>
                </div>
            </div>
            <div class="row tinyrow">
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="password" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Old Password">Old Password</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="password" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="New Password">New Password</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="password" id="input-10" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" data-content="Re-enter Password">Re-enter Password</span>
                        </label>
				    </span>
                </div>
                <div class="InputItem col-lg-3">
                    <span class="input input--yoshiko">
                        <input class="input__field input__field--yoshiko" type="submit" id="submitPassword" />
                        <label class="input__label input__label--yoshiko" for="input-10">
                            <span class="input__label-content input__label-content--yoshiko" ></span>
                        </label>
				    </span>
                </div>
                <hr class="featurette-divider" />
                <div id="blank" class="row tinyrow"></div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/classie.js"></script>
<script>
    (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function() {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function() {
                    return this.replace(rtrim, '');
                };
            })();
        }
        [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
            // in case the input is already filled..
            if( inputEl.value.trim() !== '' ) {
                classie.add( inputEl.parentNode, 'input--filled' );
            }
            // events:
            inputEl.addEventListener( 'focus', onInputFocus );
            inputEl.addEventListener( 'blur', onInputBlur );
        } );

        function onInputFocus( ev ) {
            classie.add( ev.target.parentNode, 'input--filled' );
        }

        function onInputBlur( ev ) {
            if( ev.target.value.trim() === '' ) {
                classie.remove( ev.target.parentNode, 'input--filled' );
            }
        }
    })();
</script>
</body>
</html>