<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>TinyMint | 500 (´･ω･`)</title>
    <link rel="shortcut icon" href="/images/ico/mint.ico">
    <link href="/stylesheets/error404/error.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="demo">
    <p><span>5</span><span>0</span><span>5</span></p>
    <p>Sorry, Server Internal Error. (´･ω･`)</p>
</div>
</body>
</html>