<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="wytiny">
    <title><%= title %></title>
    <style type="text/css">
    </style>
    <link rel="shortcut icon" href="/images/ico/mint.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/font.css">
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/editor/jquery.mousewheel.js"></script>
</head>
<body>
<div id="root">
    <div id="head">
        <button class="ShareMenu LightUIFont">Share</button>
        <div class="TinyBlock"></div>
        <a class="MainLink ActiveTinyLink LightUIFont" herf="">
            <span class="TopText">TinyMint</span>
        </a>
        <button id="fun1" class="HeadButton LightUIFont"><div class="HeadButtonText">TinySym</div></button>
        <button id="fun2" class="HeadButton LightUIFont"><div class="HeadButtonText">TinyIllusion</div></button>
        <button id="fun3" class="HeadButton LightUIFont"><div class="HeadButtonText">TinyPhysics</div></button>
    </div>
    <div id="editor" class="MainUIFont">
        <div id="editorBoard">
            <div id="SegmentHolder">
                <div id="seg1" class="DefaultTitle Segment">
                    <div class="SegmentTitle SegmentElement">Title</div>
                    <div class="SegmentContent SegmentElement">
                        <div class="Pic"></div>
                        <div id="ttt" class="TextContent LightUIFont" contenteditable="true" useinlinestyle="true" rtedirty="false" spellcheck="true"><p type="text" class="TextInput">Title</p></div>
                    </div>
                    <div class="SegmentAppend SegmentElement">Append</div>
                </div>
                <div id="seg2" class="DefaultContent Segment">
                    <div class="SegmentTitle SegmentElement">Title</div>
                    <div class="SegmentContent SegmentElement">
                        <div class="Pic"></div>
                        <div id="ttt" class="TextContent LightUIFont" contenteditable="true" useinlinestyle="true" rtedirty="false" spellcheck="true"><p type="text" class="TextInput"></p></div>
                    </div>
                    <div class="SegmentAppend SegmentElement">Append</div>
                </div>
                <div id="seg3" class="DefaultPic Segment">MintSegment</div>
            </div>
        </div>
        <div id="editorBar">
            <div id="hide" class="BarButton"></div>
            <div id="show" class="BarButton"></div>
            <div id="appendNew" class="BarButton"></div>
            <div id="toTop" class="BarButton"></div>
        </div>
    </div>
    <div id="result">
    </div>
</div>
<div id="footer"></div>

<script type="text/javascript" src="./javascripts/editor/home.js"></script>

</body>
</html>