
<div id="headline" class='jumbotron MintHeadline'>
    <div class='container'>
        <h1 id="headline-h"><%=Data['mainTitle']%></h1>
        <p id="headline-p"><%=Data['subTitle']%></p>
    </div>
</div>

<div id="paragraph" class="MintParagraph">
    <p id="paragraph-p" class="lead"><%=Data['paraContent']%></p>
</div>

<div id="article" class="MintArticle">

</div>