<div id="h-headline" class="SegDefine">
    <div class='Segment Seg-Headline row' >
        <div class='col-md-12'>
            <div class='fa fa-quote-left t-seg'> <span>Headline</span></div>
            <hr class='featurette-divider' />
            <div>
                <div class='form-group'>
                    <input type='text' id='headline-main-title' placeholder='Main Title' class='form-control store'>
                    <input type='text' id='headline-subtitle' placeholder='Subtitle' class='form-control store'>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="h-paragraph" class="SegDefine">
    <div class='Segment Seg-Paragraph row' >
        <div class='col-md-12'>
            <div class='fa fa-pencil t-seg'> <span>Paragraph</span></div>
            <hr class='featurette-divider' />
            <div>
                <div class='form-group'>
                    <input type='text' id='paragraph-content' placeholder='Content' class='form-control store'>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="h-article" class="SegDefine">
    <div class='Segment Seg-Article row' >
        <div class='col-md-12'>
            <div class='fa fa-edit t-seg'> <span>Article</span></div>
            <hr class='featurette-divider' />
            <div>
                <div class='form-group'>
                    <input type='text' id='article-title' placeholder='Content' class='form-control store'>
                    <textarea id='article-content' class='form-control LongText store' placeholder='Paste your article here' onpropertychange='resize(this)' oninput='resize(this)'></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="h-markdown" class="SegDefine">
    <div class='Segment Seg-Markdown row' >
        <div class='col-md-12'>
            <div class='fa fa-list-alt t-seg'> <span>Markdown</span></div>
            <hr class='featurette-divider' />
            <div>
                <div class='form-group'>
                    <textarea id='markdown-content' class='form-control LongText store' placeholder='Markdown content' onpropertychange='resize(this)' oninput='resize(this)'></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="h-gallery" class="SegDefine">
    <div class='Segment Seg-Gallery row' >
        <div class='col-md-12 t-seg'>
            <div class='fa fa-photo'> <span>Gallery</span></div>
            <hr class='featurette-divider' />
            <div>
                <div class='form-group PictureLink'>
                    <input id="gallery-link1" type='text' placeholder='Picture url A' class='form-control store'>
                    <input id="gallery-link2" type='text' placeholder='Picture url B' class='form-control store'>
                    <input id="gallery-link3" type='text' placeholder='Picture url C' class='form-control store'>
                </div>
                <a class='btn btn-default UploadButton'>Append</a>
            </div>
        </div>
    </div>
</div>

<div id="h-circles" class="SegDefine">
    <div class='Segment Seg-Circles row' >
        <div class='col-md-12'>
            <div class='fa fa-photo t-seg'> <span>Circles</span></div>
            <hr class='featurette-divider' />
            <a class='btn btn-default UploadButton'>Upload Picture A</a>
            <div class='form-group PictureLink'>
                <input id="circle-link1" type='text' placeholder='Picture url A' class='form-control store'>
                <div class="row">
                    <div class="col-md-4">
                        <input id="circle-title1" type='text' placeholder='Title' class='form-control store'>
                    </div>
                    <div class="col-md-8">
                        <input  id="circle-content1" type='text' placeholder='Content under picture' class='form-control store'>
                    </div>
                </div>
            </div>
            <a class='btn btn-default UploadButton'>Upload Picture B</a>
            <div class='form-group PictureLink'>
                <input id="circle-link2" type='text' placeholder='Picture url B' class='form-control store'>
                <div class="row">
                    <div class="col-md-4">
                        <input id="circle-title2" type='text' placeholder='Title' class='form-control store'>
                    </div>
                    <div class="col-md-8">
                        <input id="circle-content2" type='text' placeholder='Content under picture' class='form-control store'>
                    </div>
                </div>
            </div>
            <a class='btn btn-default UploadButton'>Upload Picture C</a>
            <div class='form-group PictureLink'>
                <input id="circle-link3" type='text' placeholder='Picture url C' class='form-control store'>
                <div class="row">
                    <div class="col-md-4">
                        <input id="circle-title3" type='text' placeholder='Title' class='form-control store'>
                    </div>
                    <div class="col-md-8">
                        <input id="circle-content3" type='text' placeholder='Content under picture' class='form-control store'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="h-single" class="SegDefine">
    <div class='Segment Seg-Single row' >
        <div class='col-md-12'>
            <div class='fa fa-photo t-seg'> <span>Single</span></div>
            <hr class='featurette-divider' />
            <div>
                <div class='form-group PictureLink'>
                    <input id="single-link" type='text' placeholder='Picture url' class='form-control store'>
                    <input type='text' id='single-content' placeholder='Append a paragraph' class='form-control store'>
                </div>
                <div id="singleType" class="btn-group" data-toggle="buttons">
                    <label id="s-bottom" class="btn btn-info active">
                        <input type="radio" autocomplete="off" checked> Bottom
                    </label>
                    <label id="s-top" class="btn btn-info">
                        <input type="radio" autocomplete="off"> Top
                    </label>
                    <label id="s-left" class="btn btn-info">
                        <input type="radio" autocomplete="off"> Left
                    </label>
                    <label id="s-right" class="btn btn-info">
                        <input type="radio" autocomplete="off"> Right
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="h-music" class="SegDefine">
    <div class='Segment Seg-Music row' >
        <div class='col-md-12'>
            <div class='fa fa-music t-seg'> <span>Music</span></div>
            <hr class='featurette-divider' />
            <input id="music-link" type='text' placeholder='Music Link' class='form-control store'>
        </div>
    </div>
</div>

<div id="h-video" class="SegDefine">
    <div class='Segment Seg-Video row' >
        <div class='col-md-12'>
            <div class='fa fa-film t-seg'> <span>Video</span></div>
            <hr class='featurette-divider' />
            <input id="video-link" type='text' placeholder='Video Iframe Code' class='form-control store'>
        </div>
    </div>
</div>