<div id="" class="product DesignWork">
    <div class="product__info">
        <img class="product__image" src="/images/mint-default.png" alt="TinyMint" />
        <h3 class="product__title">New Mint</h3>
        <button class="action action--button action--buy WorkButton"><span class="action__text">Edit</span></button>
        <button class="action action--button action--buy WorkButton"><span class="action__text">Download</span></button>
        <button class="action action--button action--buy WorkButton"><span class="action__text">Share</span></button>
        <button class="action action--button action--buy WorkButton"><span class="action__text">Delete</span></button>
    </div>
</div>
