<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="wytiny">
    <title><%= title %></title>
    <style type="text/css">
    </style>
    <link rel="shortcut icon" href="./images/ico/mint.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/menu/addMenu.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/plat.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/editor/plat.js"></script>
    <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>

</head>
<body>
    <div class="root">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">TinyMint</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="editor">
            <div id="middleBar">
                <div id="barButtonList">
                    <div class="BarButton" id="left"><i class="fa fa-chevron-left"></i></div>
                    <div class="BarButton" id="right"><i class="fa fa-chevron-right"></i></div>
                    <div class="BarButton" id="add"></div>
                    <div class="BarButton" id="delete"><i class="fa fa-minus"></i></div>
                    <div class="BarButton" id="top"><i class="fa fa-arrow-up"></i></div>
                    <div class="BarButton" id="refresh"><i class="fa fa-refresh"></i></div>
                    <div class="BarButton" id="save"><i class="fa fa-cloud"></i></div>
                    <div class="BarButton" id="showMenu"><i class="fa fa-download"></i></div>
                </div>
            </div>
            <div id="segmentContainer">
                <div id="segmentBoard">
                    <div ID="segmentHolder">
                        <div id="seg1" class="DefaultTitle Segment row">
                            <div class="col-md-12">
                                <div class="fa fa-home"> Title</div>
                                <hr class='featurette-divider' />
                                <div class="row">
                                    <div class="col-md-3 Pic">
                                        <img id="addIcon" class="img-circle" src="/images/mints-pic/plus.png" alt="Plus" />
                                    </div>
                                    <div class="col-md-9">
                                        <input id="titleText" class="form-control" placeholder="Title Text">
                                        <input class="form-control" placeholder="Author">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="blank"></div>
            </div>
        </div>

        <div id="dl-menu" class="dl-menuwrapper">
            <button class="dl-trigger">Open Menu</button>
            <ul class="dl-menu">
                <li>
                    <a href="#">Text</a>
                    <ul class="dl-submenu">
                        <li><a href="#" id="headLine">Headline</a></li>
                        <li><a href="#" id="paragraph">Paragraph</a></li>
                        <li><a href="#" id="article">Article</a></li>
                        <li><a href="#" id="markdown">Markdown</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Image</a>
                    <ul class="dl-submenu">
                        <li><a href="#" id="gallery">Gallery</a></li>
                        <li><a href="#" id="circles">Circles</a></li>
                        <li><a href="#" id="single">Single</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="music">Music</a>
                </li>
                <li>
                    <a href="#" id="video">Video</a>
                </li>
            </ul>
        </div>

        <div id="result">
            <div id="resultBoard"></div>
            <div id="colorBoard"></div>
        </div>

    </div>
    <script src="/javascripts/editor/jquery.dlmenu.js"></script>
    <script>
        $(function() {
            $( '#dl-menu' ).dlmenu({
                animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
            });
        });
        function resize(tmp){
            tmp.style.height = tmp.scrollTop + tmp.scrollHeight + "px";
        }
    </script>
</body>
</html>