<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="wytiny">
    <title><%= title %></title>
    <style type="text/css">
    </style>
    <link rel="shortcut icon" href="/images/ico/mint.ico">
    <link href='http://fonts.useso.com/css?family=Raleway:400,500,700&subset=latin,latin-ext' rel='stylesheet'>
    <link href='http://fonts.useso.com/css?family=Lato:400,500,700&subset=latin,latin-ext' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/menu/addMenu.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/plat.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/result.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/flat-ui.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor/demo.css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/editor/plat.js"></script>
    <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>
</head>
<body>
    <div id="flag"><%=flag%></div>
    <div id="warning" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Warning</h4>
                </div>
                <div id="warning-content" class="modal-body">
                    TinyWarning
                </div>
                <div class="modal-footer">
                    <button id="nope" type="button" class="btn btn-info">Nope</button>
                    <button id="yes" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="notice" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md">
            <div id="modal-content" class="modal-content">
                <p id="modal-text">TinyInfo</p>
            </div>
        </div>
    </div>

    <div class="root">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" id="TinyMint">TinyMint</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="home">Home</a></li>
                        <li><a class="about">About</a></li>
                        <li><a class="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="editor">
            <div id="middleBar">
                <div id="barButtonList">
                    <div class="BarButton" id="left"><i class="fa fa-chevron-left"></i></div>
                    <div class="BarButton" id="right"><i class="fa fa-chevron-right"></i></div>
                    <div class="BarButton" id="add"></div>
                    <div class="BarButton" id="delete"><i class="fa fa-minus"></i></div>
                    <div class="BarButton" id="top"><i class="fa fa-arrow-up"></i></div>
                    <div class="BarButton" id="refresh"><i class="fa fa-refresh"></i></div>
                    <div class="BarButton" id="cloudSave"><i class="fa fa-cloud"></i></div>
                    <div class="BarButton" id="download"><i class="fa fa-download"></i></div>
                </div>
            </div>
            <div id="segmentContainer">
                <div id="segmentBoard">
                    <div ID="segmentHolder">
                        <div id="seg1" class="DefaultTitle Segment row">
                            <div class="col-md-12">
                                <div class="fa fa-home t-seg"> <span id="titleText"><%=mintTitle%></span></div>
                                <hr class='featurette-divider' />
                                <div class="row">
                                    <div class="col-md-3 Pic">
                                        <img id="addIcon" class="img-circle" src="/images/mints-pic/plus.png" alt="Plus" />
                                    </div>
                                    <div class="col-md-9">
                                        <!--<h2 id="titleText"><%=mintTitle%><h2>-->
                                        <input id="author" class="form-control store" placeholder="Author">
                                        <input id="backLink" class="form-control store" placeholder="Background Picture Link">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="blank"></div>
            </div>
        </div>

        <div id="dl-menu" class="dl-menuwrapper">
            <button class="dl-trigger">Open Menu</button>
            <ul class="dl-menu">
                <li>
                    <a href="#">Text</a>
                    <ul class="dl-submenu">
                        <li><a href="#" id="headLine">Headline</a></li>
                        <li><a href="#" id="paragraph">Paragraph</a></li>
                        <li><a href="#" id="article">Article</a></li>
                        <li><a href="#" id="markdown">Markdown</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Image</a>
                    <ul class="dl-submenu">
                        <li><a href="#" id="gallery">Gallery</a></li>
                        <li><a href="#" id="circles">Circles</a></li>
                        <li><a href="#" id="single">Single</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="music">Music</a>
                </li>
                <li>
                    <a href="#" id="video">Video</a>
                </li>
            </ul>
        </div>

        <div id="result">

            <div id="resultBoard"></div>
            <!--<div id="colorBoard">-->
                <div class="customizer">
                    <ul class="color-tool">
                        <li class="color-1"><div class="drag-element" data-color="#333"><div class="drop color-1"></div><i class="drop-helper-1 color-1"></i><i class="drop-helper-2 color-1"></i><i class="drop-helper-3 color-1"></i><i class="drop-helper-4 color-1"></i></div></li>
                        <li class="color-2"><div class="drag-element" data-color="#f0f0f0"><div class="drop color-2"></div><i class="drop-helper-1 color-2"></i><i class="drop-helper-2 color-2"></i><i class="drop-helper-3 color-2"></i><i class="drop-helper-4 color-2"></i></div></li>
                        <li class="color-3"><div class="drag-element" data-color="#c0c3d5"><div class="drop color-3"></div><i class="drop-helper-1 color-3"></i><i class="drop-helper-2 color-3"></i><i class="drop-helper-3 color-3"></i><i class="drop-helper-4 color-3"></i></div></li>
                        <li class="color-4"><div class="drag-element" data-color="#5FA1E0"><div class="drop color-4"></div><i class="drop-helper-1 color-4"></i><i class="drop-helper-2 color-4"></i><i class="drop-helper-3 color-4"></i><i class="drop-helper-4 color-4"></i></div></li>
                        <li class="color-5"><div class="drag-element" data-color="#C1D5C0"><div class="drop color-5"></div><i class="drop-helper-1 color-5"></i><i class="drop-helper-2 color-5"></i><i class="drop-helper-3 color-5"></i><i class="drop-helper-4 color-5"></i></div></li>
                        <li class="color-6"><div class="drag-element" data-color="#47AE73"><div class="drop color-6"></div><i class="drop-helper-1 color-6"></i><i class="drop-helper-2 color-6"></i><i class="drop-helper-3 color-6"></i><i class="drop-helper-4 color-6"></i></div></li>
                        <li class="color-7"><div class="drag-element" data-color="#EAE7C4"><div class="drop color-7"></div><i class="drop-helper-1 color-7"></i><i class="drop-helper-2 color-7"></i><i class="drop-helper-3 color-7"></i><i class="drop-helper-4 color-7"></i></div></li>
                        <li class="color-8"><div class="drag-element" data-color="#FB6964"><div class="drop color-8"></div><i class="drop-helper-1 color-8"></i><i class="drop-helper-2 color-8"></i><i class="drop-helper-3 color-8"></i><i class="drop-helper-4 color-8"></i></div></li>
                        <li><button class="reset-button" title="Reser colors">Reset colors</button></li>
                    </ul>
                </div>
            <!--</div>-->
            <div class="info-wrap">
                <div class="info">
                    <h3 class="InfoText">Interactive Color Board</h3>
                    <p class="InfoText"><img src="/images/drag.svg" alt="drag icon"/>Drag color from the left toolbar to an area or text in the Segments. A blue outline will indicate a droppable element.</p>
                    <p class="InfoText"><img src="/images/time.svg" alt="drag icon"/>On mobile, wait a tiny bit until you drag the color drop.</p>
                    <p class="InfoText"><b>Attention : Please complete the content and structure of your mint before drag color because of the incompleteness of algorithm, it will be improved later.</b></p>
                    <button class="info-close">Got it!</button>
                </div>
            </div>
        </div>

    </div>
    <div id="includeSegments">
        <%include mintSegments.ejs%>
    </div>
    <script src="/javascripts/editor/jquery.dlmenu.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/editor/color/classie.js"></script>
    <script src="/javascripts/editor/color/interact-1.2.4.min.js"></script>
    <script src="/javascripts/editor/color/main.js"></script>
    <script>
        $(function() {
            $( '#dl-menu' ).dlmenu({
                animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
            });
        });
        function resize(tmp){
            tmp.style.height = tmp.scrollTop + tmp.scrollHeight + "px";
        }
    </script>
</body>
</html>