* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Cuprum', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  color: #FFF:
}

html, body {
  height: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a, p, article {
  word-wrap: break-word;
  word-break: keep-all;
}

#scrollContainer, section {
  height: 100%;
  position: relative;
}

div.holder {
  color: #FFF;
  background-size: cover;
  background-position: center;
  height: 100%;
}

#sec0 {
  background-image: url("http://7xjgb0.com1.z0.glb.clouddn.com/aya.jpg");
}

#main-text {
  position: absolute;
  top: 40%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border: 3px solid #FFF;
  transition: 0.5s;
}

#main-text:hover {
  transform: scale(1.2, 1.2);
}

#main-text span {
  font-size: 2.5rem;
}

#gitLink {
  position: fixed;
  right: 10%;
  bottom: 10%;
  text-align: center;
}

#gitLink a{
  margin-top: 15%;
  color: #FFF;
  font-size: 1.5rem;
  cursor: pointer;
}

#sec1 {
  background-color: #C1D8D2;
}

#sec2 {
  background-color: #CCC;
}

#mintHeader {
  background-color: #0685AB;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  opacity: 0.9;
  z-index: 1000;
}

#logo {
  float: left;
  margin-left: 10%;
  font-size: 3em;
  color: #FFF;
}

#logo a {
  color: #FFF;
  cursor: pointer;
  transition: 1s;
  font-family: 'Lobster', 'Cuprum', 'WenQuanYi Micro Hei';
}

#logo:hover a {
  color: #FFF426;
}

#menu {
  position: absolute;
  right: 10%;
  font-size: 2em;
  height: 70px;
}

#menuContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

#menuContainer ul {
  height: 100%;
}

#menuContainer a {
  cursor: pointer;
  z-index: 10;
}

#menuContainer:hover #line {
  opacity: 1;
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
}

#line {
  position: absolute;
  /*margin-left: 4%;*/
  margin-left: 50%;
  margin-right: 50%%;
  bottom: 10%;
  height: 10%;
  width: 0;
  border-bottom: 2px solid #FFF;
  transition: 0.3s ease-out;
  opacity:0;
}


#menu li {
  height: 100%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

a.nothing {
  cursor: auto;
  color: #FFF;
}

#menu a {
  top: 5%;
  bottom: 5%;
  color: #FFF;
}

#menu-small {
  position: absolute;
  width: 100%;
  top: 70px;
  z-index: 100;
}

#menu-small-logo {
  text-align: center;
  font-size: 2em;
  color: #FFF;
  transition: 0.5s;
}

#small-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  transition: 1s;
  z-index: 50;
  opacity: 0;
  display: none;
}

#small-section ul {
  margin-left: 10%;
  margin-right: 10%;
  height: 70px;
  text-align: center;
}

#small-section li{
  float: left;
  line-height: 70px;
  width: 50%;
}

#small-section a {
  color: #FFF;
  font-size: 2em;
  cursor: pointer;
}

.CenterRec {
  position: absolute;
  top: -550px;
  height: 40%;
  left: 50%;
  margin-left: -150px;;
  height: 350px;
  width: 300px;
  background-color: #7FB0C2;
  opacity: 0.85;
  transition: 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.innerRec {
  position: relative;
  height: 100%;
  width: 100%;
}

.closeRec {
  position: absolute;
  top: 15px;
  right: 15px;
}

.closeRec span {
  font-size: 2em;
  cursor: pointer;
  color: #FFF;
}

h2 span {
  text-align: center;
}

div.CenterRec form label span {
  left:20px;
  font-size: 1.5em;
}

#loginButton {
  height: auto;
  width: 100%;
  cursor: pointer;
}

div.CenterRec form {
  top: 40%;
}

div.form-container {
  position: relative;
  top: 10%;
  bottom: 100px;
  width: 100%;
  height: 80%;
}

div.form-container>div {
  text-align: center;
}

div.form-container>div a {
  font-size: 2em;
  color: #FFF;
  cursor: default;
}

#loginButton, #signupButton {
  position: absolute;
  color: #FFF;
  font-size: 3em;
  text-align: center;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 45px;
  cursor: pointer;
}

#signupSection {
  height: 550px;
  overflow: auto;
}

#dots {
  position: fixed;
  right: 20px;
  top: 50%;
}

#dots li {
  display: block;
  position: relative;
  margin: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 0.5rem;
  color: #FFF;
  cursor: pointer;
}

#dots li.focus {
  font-size: 1rem;
  color: #FFF426;
}

@media screen and (min-width:1200px){
  .CenterRec {
    margin-left: -195px;
    height: 450px;
    width: 390px;
  }

  #main-text span {
    font-size: 4rem;
  }
}

/* the second section */

#introduction {
  position: relative;
  width: 100%;
  height: 45%;
  /*background-color: #45A5CC;*/
}


#introduction .intro-holder {
  position: absolute;
  margin-left: 10%;
  margin-top: 100px;
  height: 80%;
  width: 80%;
}

#introduction .intro-holder p {
  font-size: 1.5rem;
  color: #444;
}

#introduction h1 {
  font-size: 2rem;
  color: #444;
}

#pics {
  position: relative;
  width: 100%;
  height: 55%;
  opacity: 1;
  background-color: #336699;
}

.pics-inner {
  float: left;
  height: inherit;
  width: inherit;
}

.icon-container {
  width: 20%;
  height: 100%;
  text-align: center;
}

div.a-container {
  position: relative;
  top: 50%;
  margin-top: -1.5em;
}

div.icon-container a{
  font-size: 3em;
  color: #000;
  transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}

div.icon-container a:hover {
  opacity: 1;
}

div.pics-container {
  width: 60%;
  height: 100%;
  padding: 10%, 10%;

}

#pics-scroll {
  top: 50%;
}

#pics-scroll .item {
  margin: 5px;
}

#pics-scroll img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* third section for about me */

#aboutme {
  width: 100%;
  height: 70%;
}

#contact div.content {
  margin-left: 10%;
  width: 80%;
}

#contact {
  width: 100%;
  height: 30%;
  padding-top: 30px;
  background-color: #333;
  text-align: center;
}

#links h4{
  height: 3em;
  line-height: 3em;
}

#links a {
  display: inline-block;
  font-size: 3em;
  color: #DDD;
  margin-left: 20px;
  margin-right: 20px;
}

#contact p {
  margin-top: 20px;
  clear: both;
}

#links {
  text-align: center;
}

#tiny {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 100%;
  padding-top: 150px;
  color: #444;
}

#tiny h2{
  font-size: 4em;
}

#tiny p {
  font-size: 2.5em;
}


@media screen and (max-width:600px){
  #menu {
    display: none;
  }
  #logo {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  #small-section {
    background-color: #3C9DBA;
    opacity: 0.7;
    display: block;
  }

  #small-section:hover {
    background-color: #EC8614;
    opacity: 0.9;
  }

  #gitLink {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 20%;
    text-align: center;
    /*margin-top: 40%;*/
  }

  #introduction {
    height: 100%;
  }

  #pics {
    height: 0%;
    opacity: 0;
  }

}

@media screen and (max-height: 700px) {
  #introduction {
    height: 100%;
  }

  #pics {
    height: 0%;
    opacity: 0;
  }
}
